.container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.strong,
.statNumber {
  color: green;
}

.heading {
  font-size: 28px;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.detail {
  flex: 1 1 45%;
  font-size: 16px;
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.start {
  text-align: center;
  background: #5555;
  color: #ffffff;
  padding: 15px;
}

.statNumber {
  font-size: 24px;
  font-weight: bold;
}

.statLabel {
  font-size: 16px;
}
